@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white;
}

.canvas-card {
  background: linear-gradient(180deg, rgba(11,102,35,0.95), rgba(7,70,25,0.95));
  border-radius: 8px;
}
